html, body, h1, h2, h3, h4, h5, div, article, p, section, form, ul, li, a {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 36px;
    margin: 0 0 32px;
}

.top {
    padding: 40px 0;
}

.logo {
    width: 640px;
    margin: 0 auto;
    padding: 20px 0 0;
}

.copy {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: gray;
}

.urlform {
    padding: 30px 0;
}

.urlbar {
    display: block;
    margin: 30px auto;
    width: 640px;
    height: 48px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
}

/*
*    .links
*/

.links {
    margin-top: 20px;
    width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links li {
    list-style: none;
    width: 140px;
    margin: 0 10px;
}

.links a {
    display: block;
    text-align: center;
    border-radius: 4px;
    padding: 6px 10px;
    color: white;
    font-size: 14px;
}

.links span {
    display: inline-block;
    position: relative;
    top: -5px;
}

.links .fa {
    font-size: 28px;
    border-right: 1px solid white;
    padding-right: 10px;
    margin-right: 10px;
}

.links::after {
    content: '.';
    visibility: hidden;
    clear: both;
}

.youtube-b {
    background-color: #cd201f;
}

.twitter-b {
    background-color: #55acee;
}

.facebook-b {
    background-color: #315096;
}

.google-b {
    background-color: #ea4335;
}

/*
*    .feature
*/

.feature {
    background-color:  #31dfac;
    padding: 36px 0;
}

.feature .wrapper{
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

.feature {
    line-height: 36px;
}

.feature ul {
    list-style: none;
    margin: 6px auto;
    padding: 4px 0 4px 1em;
    background-color: hsla(0, 0%, 69%, 0.55);
    border-left: 5px solid hsla(162,73%,93%,.7);
}

.feature li {
    margin: 8px auto;
}

.feature ul li::before {
    font-family: FontAwesome;
    content: '\f057';
    color: hsl(0, 100%, 71%);
    margin-right: 0.5em;
    margin-left: 1em;
}

.youtube {
    color: #cd201f;
}

.twitter {
    color: #55acee;
}

.facebook {
    color: #315096;
}

.google {
    color: #ea4335;
}

/*
*    .supports
*/

.supports {
    width: 960px;
    margin: 0 auto;
    background-color: hsl(206, 100%, 100%);
    overflow: hidden;
    padding: 40px 0;
    color: #666;
}

.supports ul {
    width: 960px;
    margin: 0 auto;
}

.supports ul li {
    float: left;
    width: 280px;
    margin: 0 20px;
    list-style: none;
}

.supports ul li:first-child {
    margin-left: 0;
}

.supports ul li:last-child {
    margin-right: 0;
}

.supports .fa {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    line-height: 124px;
    border: 5px solid;
    border-radius: 50%;
    font-size: 64px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.supports h2 {
    text-align: center;
    margin: 10px auto;
}

.supports p {
    font-size: 16px;
    line-height: 28px;
    color: #666;
}